services:

  rabbitmq:
    container_name: rabbitmq
    build:
      dockerfile: ./rabbitmq/Dockerfile-rabbitmq
      args:
        - PASS=${RABBITMQ_USER_PASSWORD}
        - ADMINPASS=${RABBITMQ_ADMIN_PASSWORD}
    restart: always
    ports:
      - "5672:5672"   # broker
      - "15672:15672" # management console
    networks:
      - proxyNet
    volumes:
      - ./rabbitmq/rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf
      - ./rabbitmq/enabled_plugins:/etc/rabbitmq/enabled_plugins
      - data:/rabbitmq/:/var/lib/rabbitmq/mnesia/
    healthcheck:
      test: rabbitmq-diagnostics check_port_connectivity
      interval: 3s
      timeout: 10s
      retries: 20

  mysql:
    image: mysql:9.5.0
    container_name: mysql
    environment:
      - MYSQL_DATABASE=icecream_order
      - MYSQL_USER=OrderUser
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
    ports:
      - "3306:3306"
    networks:
      - proxyNet
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 3s
      timeout: 10s
      retries: 20

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - data:/nginx/logs:/var/log/nginx
    networks:
      - proxyNet
    healthcheck:
      test: ['CMD', '/bin/healthcheck.sh']
      interval: 3s
      timeout: 10s
      retries: 20
    depends_on:
      ui:
        condition: service_healthy
      menu-service:
        condition: service_healthy
      order-service:
        condition: service_healthy
      swagger-menuapi:
        condition: service_healthy
      swagger-orderapi:
        condition: service_healthy

  menu-service:
    image: icecreamparlor-menuservice:latest
    container_name: menu-service
    ports:
      - "8081:8080"
    networks:
      - proxyNet
    healthcheck:
      test: ["CMD", "curl", "-f", "http://127.0.0.1:8080/menu/v1/healthcheck"]
      interval: 3s
      timeout: 10s
      retries: 20

  order-service:
    image: icecreamparlor-orderservice:latest
    container_name: order-service
    networks:
      - proxyNet
    depends_on:
      rabbitmq:
        condition: service_healthy
      mysql:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://127.0.0.1:8080/order/v1/healthcheck"]
      interval: 3s
      timeout: 10s
      retries: 20
    environment:
      - mysql_database=icecream_order
      - mysql_user=OrderUser
      - mysql_password=${MYSQL_PASSWORD}
      - rabbitmq_user=RabbitUser
      - rabbitmq_password=${RABBITMQ_USER_PASSWORD}

  preparation-agent:
    image: icecreamparlor-processing:latest
    environment:
      - processing_profile=preparation
      - rabbitmq_host=rabbitmq
      - rabbitmq_port=5672
      - rabbitmq_username=RabbitUser
      - rabbitmq_password=${RABBITMQ_USER_PASSWORD}
    networks:
      - proxyNet
    depends_on:
      rabbitmq:
        condition: service_healthy

  delivery-agent:
    image: icecreamparlor-processing:latest
    environment:
      - processing_profile=delivery
      - rabbitmq_host=rabbitmq
      - rabbitmq_port=5672
      - rabbitmq_username=RabbitUser
      - rabbitmq_password=${RABBITMQ_USER_PASSWORD}
    networks:
      - proxyNet
    depends_on:
      rabbitmq:
        condition: service_healthy

  ui:
    image: icecreamparlor-ui:latest
    container_name: ui
    ports:
      - "3034:3000"
    networks:
      - proxyNet
    healthcheck:
      test: ["CMD", "curl", "-f", "http://127.0.0.1:3000"]
      interval: 3s
      timeout: 10s
      retries: 20

  swagger-menuapi:
    image: docker.swagger.io/swaggerapi/swagger-ui
    container_name: swagger-menuapi
    volumes:
      - ./api-specifications:/apifile
    environment:
      - SWAGGER_JSON=/apifile/MenuAPI.yaml
    networks:
      - proxyNet
    healthcheck:
      test: ["CMD", "curl", "-f", "http://127.0.0.1:8080"]
      interval: 3s
      timeout: 10s
      retries: 20

  swagger-orderapi:
    image: docker.swagger.io/swaggerapi/swagger-ui
    container_name: swagger-orderapi
    volumes:
      - ./api-specifications:/apifile
    environment:
      - SWAGGER_JSON=/apifile/OrderAPI.yaml
    networks:
      - proxyNet
    healthcheck:
      test: ["CMD", "curl", "-f", "http://127.0.0.1:8080"]
      interval: 3s
      timeout: 10s
      retries: 20

  # This container has network tools. It can be brought up by running the 'debug' profile
  nettools:
    image: wbitt/network-multitool:latest
    networks:
      - proxyNet
    profiles: ["debug"]


networks:
  proxyNet:

volumes:
  data:
